<footer class="py-5 my-5 border-top footer-section">
  <div class="container">
    <div class="row justify-content-center gap-5">
      <div class="col-md-3 mb-3 offset-md-1">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="/#quoteForm" class="nav-link p-0 text-body-secondary">Free Quote</a></li>
          <li class="nav-item mb-2"><a href="/#areas-served" class="nav-link p-0 text-body-secondary">Areas Served</a></li>
          <li class="nav-item mb-2"><a href="/faq.html" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="/blog/" class="nav-link p-0 text-body-secondary">Moving Tips</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-3">
        <h5>Contact</h5>
        <address class="text-body-secondary address-line-height">
          Comfort Moving Chicago LLC<br>
          Chicago, IL 60622<br>
          Phone: <a href="tel:+17732361724">(773) 236-1724</a><br>
          Email: <a href="mailto:comfortmovingchicago@gmail.com">comfortmovingchicago@gmail.com</a><br>
          ICC License # 236923 MC
        </address>
      </div>

      <div class="col-md-3 mb-3">
        <h5>Connect</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://www.facebook.com/p/Comfort-Moving-Chicago-100085395917097/" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener">Facebook</a></li>
          <li class="nav-item mb-2"><a href="https://www.instagram.com/comfortmovingchicago" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener">Instagram</a></li>
          <li class="nav-item mb-2"><a href="https://www.yelp.com/biz/comfort-moving-chicago-oak-park-5" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener">Yelp</a></li>
          <li class="nav-item mb-2"><a href="https://maps.google.com/?q=Comfort+Moving+Chicago" class="nav-link p-0 text-body-secondary" target="_blank" rel="noopener">Google Business Profile</a></li>
          <li class="nav-item mb-2"><a href="mailto:comfortmovingchicago@gmail.com" class="nav-link p-0 text-body-secondary">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>